__pycache__/
val2017/
val2017_0/
val2017_new/
output/
output_folder/
person_keypoints_val2017.json
result_keypoints_small_base.json
result_keypoints_image_processing.json
COCO_val2017_detections_AP_H_56_person.json
bbox_result.json
kpts_result.json